.backButton {
  border: 1px solid #000000;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  &:hover {
    background-color: #2563eb;
    color: #ffffff;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
}