.page {
  padding: 30px 35px;
  min-height: calc(100vh - 70px);
  width: 100%;
  box-sizing: border-box;
}

.titleHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.labelDeadline,
.labelStatus,
.labelVatAmount,
.labelTotalPrice {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}


.form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 22px;
}

.section {
  width: 100%;
  padding: 25px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;

  h2 {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 600;
    color: #1f1f1f;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 11px 14px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    background: #fff;
    font-size: 15px;


    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;

    &:focus {
      outline: none;
      border-color: #1677ff;
      box-shadow: 0 0 0 2px rgba(22, 119, 255, 0.15);
    }

    &::placeholder {
      color: #999;
    }
  }

  textarea {
    min-height: 140px;

    resize: vertical;
  }
}

.actions {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 10px;

  button {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #000;
    background: white;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background: #2563eb;
      color: #ffffff;
      transition: color 0.3s ease, background-color 0.3s ease
    }
  }

  button[type='submit'] {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #000;

    &:hover {
      background: #2563eb;
      color: #ffffff;
      transition: color 0.3s ease, background-color 0.3s ease;
    }
  }
}

@media (max-width: 900px) {
  .form {
    grid-template-columns: 1fr;
  }

  .actions {
    grid-column: span 1;
  }

  .row {
    grid-template-columns: 1fr;
  }
}